/*pseudoelemetno(elemento que no existe en el codigo html sin 
embargo root es una forma de almacenar variables de css
que se las conocen como custom propertyes*/
:root{
    /*VARIABLES DE CSS*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris:#757575;

}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem=10px*/
    font-family:'Krub', sans-serif;
}
/*REM se adapta mejor a diferentes tamaños, eldocigo de arriba
siempre utilizar*/
.titulo{
    text-align: center;
    font-size: 3.8rem;

    
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;/*1200px*/
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/

    margin:0 auto; /*0 auto;lo mismo que arriba*/
}
.nav-background{
    background-color: var(--secundario);
    
}
.navegacion-principal{
    
    display: flex; /*nos da acceso a nuevas propiedades(habilita flexbox)*/
    justify-content:space-between;
    flex-direction: column;
    
    /*permite mover/trabajar el contenido horizontal/verticalmente*/
    
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row
        
    }
}
.navegacion-principal a{
    display: block;
    text-align: center;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem; /*agrega espacio de afuera hacia adentro*/
}
/*pseudoclase que se dispara cuando ponemos el puntero arriba de la nav*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color:var(--oscuro);

}


