/*pseudoelemetno(elemento que no existe en el codigo html sin 
embargo root es una forma de almacenar variables de css
que se las conocen como custom propertyes*/
:root{
    /*VARIABLES DE CSS*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris:#757575;

}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem=10px*/
    font-family:'Krub', sans-serif;
}
/*REM se adapta mejor a diferentes tamaños, eldocigo de arriba
siempre utilizar*/
.titulo{
    text-align: center;
    font-size: 3.8rem;

    
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    width: 120rem;/*1200px*/
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/

    margin:0 auto; /*0 auto;lo mismo que arriba*/
}
.nav-background{
    background-color: var(--secundario);
    
}
.navegacion-principal{
    padding: 1rem;
    display: flex; /*nos da acceso a nuevas propiedades*/
    justify-content:space-between;
    /*permite mover el contenido horizontal/verticalmente*/
    
}
.navegacion-principal a{
    color:var(--blanco);
    text-decoration: none;
    
}



